<h1> Details for @Model["order"].Title order placed for: @Model["order"].Date</h1>

<h2>Pastries: @Model["order"].PastryOrder</h2>
<h2>Loaves: @Model["order"].BreadOrder</h2>
<h2>Total cost: @Model["order"].TotalCost</h2>

<h3>Order notes: @Model["order"].Notes</h3>
